:root {
  --primary-color: #003049;
  --secondary-color: #d62828;
  --accent1-color: #f77f00;
  --accent2-color: #fcbf49;

  --heading-font: 'Tahoma', serif;
  --paragraph-font: 'Times New Roman', serif;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    margin: 0 auto;
  }

  main {
    background-color: #fcbf49;
  }

  h1, h2, h3 {
    text-align: center;
  }

/* Header and Footer */

  header, footer {
    background-color: #003049;
  }

  header {
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 20% 60% 20%;
    
  }

  .headerlogo {
    grid-row-start: 1;
    grid-column-start: 2;
    place-self: center;
  }

  .sociallinks {
    grid-row-start: 1;
    grid-column-start: 3;
    place-self: center;
  }

  .logo {
    max-width: 200px;
  }
  
  .social {
    margin-right: 1.5rem;
    padding: 5px;
    margin: 10px;
    background-color: #fcbf49;

  }

  .social img {
    width: 40px;
    height: auto;
  }

  ul li {
    list-style: none;
}

.hamburger {
  grid-row-start: 1;
  grid-column-start: 1;
  place-self: center;
  border: none;
  font-size: 30px;
  color: black;
  background-color: #fcbf49;
  height: fit-content;
  padding: 10px;
 }

.hamburger :nth-child(1) {
  display: block;
}

.hamburger :nth-child(2) {
  display: none;
}

.hamburger.open :nth-child(2) {
  font-family: 'Tahoma', serif;
  display: block;
}

.hamburger.open :nth-child(1) {
  display: none;
}

nav {
  grid-column: 1/4;
}

.nav-menu {
  display: none;
  background-color: #fcbf49;
  margin: 0 0;
}

.nav-menu.open {
  display: flex;
  flex-direction: column;
}

.nav-menu li {
  list-style-type: none;
  padding: 10px;
}

.nav-menu a {
  display: block;
  padding: 15px 0;
  color: #fcbf49;
  text-shadow: none;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.nav-menu a:hover {
  color: rgb(0, 0, 0);
  background-color: #003049;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.externallink {
  color: white;
}

/* General Styling */
.place-holder-red {
  background-color: #d62828;
  padding: 20px;
}

.place-holder-orange {
  background-color: #f77f00;
  padding: 20px;
}


/* Homepage */

.homepage-main-grid {
	display: grid;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hero {
	grid-row: 1/2;
  grid-column: 1/7;
}

.order-here {
	grid-row: 2/3;
  grid-column: 1/7;
}

.weather-grid {
	grid-row: 3/4;
  grid-column: 1/7;
}

.find-us-grid {
	grid-row: 4/5;
  grid-column: 1/7;
}

.coastal-grid {
	grid-row: 5/6;
  grid-column: 1/7;
}

.total-drinks-grid {
	grid-row: 6/7;
  grid-column: 1/7;
}


.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.weather h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.order-image {
  max-width: 150px;
}

.orderfresh {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.coastal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.order-link {
  text-align: center;
  padding: 20px;;
  background-color: #fcbf49;
  border-radius: 10px;
}

/* Fresh Page */

form {
  width: auto;
  display: grid;
  font-size: 20px;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  padding: 1.5rem;
}

form input, form select, textarea {
  background-color: white;
  min-height: 30px;
  font-size: 20px;
  border: none;
  padding: 10px;
}

button {
  margin: 1rem;
  color: #000000;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: #fcbf49;
}
























