body {
    text-align: center;
}


#color {
    color: white;
    background-color: darkblue;
}

#colorlarge{
    font-size: 50px;
    color: white;
    background-color: darkblue;
}




.color {
    color: white;
    background-color: darkblue;
}

.large{
    font-size: 50px;
}


