@media only screen and (min-width: 640px) {
  
.join {
	display: block;
}
main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	
}

.hero {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 5px;
  }
  
.event {
	grid-row-start: 5;
	grid-column-start: 1;
	grid-column-end: 8;
	margin: 5px;
  }
  
.weather {
	grid-row-start: ;
	grid-column-start: 8;
	grid-column-end: 13;
	margin: 5px;
  }
  
.news {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 5px;
  }
  
.sec-spotlight {
	display: flex;
	flex-direction: row;
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 5px;
}

.div-spotlight1 {
	flex: 1 50%;
}

.div-spotlight2 {
	flex: 1 50%;
}

.join {
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 5px;
}
  
.top-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bottom-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}









}
