:root {
  --primary-color: #f3672bff;
  --secondary-color: #4b8349ff;
  --accent1-color: #549aa0ff;
  --accent2-color: #7a7a7aff;

  --heading-font: "Nunito Sans", "Open Sans", sans-serif;
  --paragraph-font: "Nunito Sans", "Open Sans", sans-serif;
  }


* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", "Open Sans", sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    max-width: 150px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
  }
  
  .headings h1 {
    font-size: 1.25rem;
  }
  
  .m {
    letter-spacing: 1pt;
    color: darkgreen;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .social {
    margin-right: 1.5rem;
    display: flex;
  }

  header img {
    max-width: 50px;
  }
  
  .social svg {
    width: 42px;
    height: auto;
  }

#currenttime {
    background-color: #f3672bff;
}

.hamburger {
  border: none;
  font-size: 40px;
  color: rgb(255, 255, 255);
  grid-row-start: 1;
  grid-column-start: 4;
  max-width: 60px;
  display: grid;

}

.hamburger :nth-child(1) {
  display: block;
}

.hamburger :nth-child(2) {
  display: none;
}

.hamburger.open :nth-child(2) {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
  display: block;
}

.hamburger.open :nth-child(1) {
  display: none;
}

.nav-social {
  display: flex;
}
.nav-menu {
  display: none;
  background-color: #4b8349ff;
  margin: 0 0;
}

.nav-menu.open {
  display: flex;
  flex-direction: column;
 
}

.nav-menu li {
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  
}

.nav-menu a {
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #4b8349ff;
  text-shadow: none;
  color: white;
  font-size: 0.9rem;
}

.nav-menu a:hover {
  color: rgb(255, 255, 255);
  background-color: #708080;
  transform: scale(1.1);
}

footer {
  background-color: #4b8349ff;
  color:white;
  margin: 1.5rem auto;
  padding: 20px;
  text-align: center;
}





