header,
main,
nav,
footer {
  max-width: 720px;
  margin: 1.5rem auto;
}

header,
footer {
  color: white;
  background-color: midnightblue;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid #000000;
}

p {
  font-size: 20px;
}


