header,
main,
nav,
footer {
  max-width: 720px;
  margin: 1.5rem auto;
}

header,
footer {
  color: white;
  background-color: midnightblue;
  padding: 20px;
  border-radius: 15px;
}

header {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 100px;
  padding-left: 120px;
  text-align: center;
}

h2 {
  border-bottom: 1px solid #000000;
}

p {
  font-size: 20px;
}

footer {
  text-align: center;
}

